.testcss, bg-dark{
    color:red
}

.shoto_logo{
    margin-right: 10px;
    margin-left: 10px;
}

.navbar-header{
    background-color: black;
}

.contacts-page{
    background-color: grey;
    
}

.japan-wall-paper-bg{
background-image: url("/static/images/full_logo_with_tiger.png");
background-repeat: no-repeat;
background-size: cover;
}

