.testcss, bg-dark{
    color:red
}

.shoto_logo{
    margin-right: 10px;
    margin-left: 10px;
}

.navbar-header{
    background-color: black;
}

/* .footer_at_bottom{
    position:absolute;
    bottom:0;
} */