{% extends "base.html" %}

{% block content %}



<div class="container">
    <div class="row mx-auto">
        <div class="order-1 order-md-1 col-sm-12 col-md-12 col-lg-6">
            {% load account %}
            {% if user.is_authenticated %}
            <h4 class="align-items-center text-black-50">Welcome, {{ username }}!</h4>
            {% else %}

            <h4 class="align-items-center text-black-50">Welcome, guest</h4>

            {% endif %}
            <h2>
                <p><strong>An introduction to Karate</strong></p>
            </h2>
            <h2>
                <p>A beginner’s guide</p>
            </h2>
            <h2>
                <p>What is Karate?</p>
            </h2>
            <p>Karate (translated as ‘empty hand’) is an ancient method of unarmed fighting with a moral warrior code
                emphasising punching, striking and kicking. It was developed on the Island of Okinawa (now part of
                Japan) by fusing local fighting skills with techniques from near-by China. It was practised as an art of
                self-defence by a small elite group who closely guarded their methods, only passing them on to a few
                trusted students.</p>

            <p>But in the early 1900s karate was introduced into Okinawan schools and masters, like the founder of the
                Shotokan style, Gichin Funakoshi, later took it to mainland Japan where it quickly became established
                alongside traditional Japanese martial arts such as Judo and Kendo (sword-fighting).<p>

                    <p>The art spread as a strict, disciplined way of life. Later a new type of sparring was developed
                        to allow safe competitive fighting where blows were pulled short of contact to avoid injury.
                        This new sporting side greatly enhanced karate’s appeal and from the 1950s it spread rapidly
                        around the world as the main Japanese karate organisations sent senior instructors abroad to
                        teach. Millions of men, women and children of all ages and backgrounds now practice Karate and
                        clubs compete in national and international tournaments. But many karate styles like Shotokan
                        still emphasise the traditional moral codes, ways of training and self-defence techniques
                        developed by the masters of past centuries.</p>
        </div>




        <div class="container-fluid col-md-6 col-lg-4 order-2 order-md-2 mt-1 mb-1 ">
            <form class="my-1" method="post" action="https://formdump.codeinstitute.net/">
                <fieldset class="text-black">
                    <legend>Get In Touch</legend>

                    <div class="form-group">
                        <label for="fname">First Name:</label>
                        <input type="text" class="form-control" name="fname" id="fname" required>
                    </div>

                    <div class="form-group">
                        <label for="lname">Last Name:</label>
                        <input type="text" class="form-control" name="lname" id="lname" required>
                    </div>

                    <div class="form-group">
                        <label for="email">Email Address:</label>
                        <input type="email" class="form-control" name="email" id="email" required>
                    </div>

                    <div class="form-group">
                        <label for="phone">Phone Number: </label>
                        <input type="tel" class="form-control" name="phone" id="phone" required>
                    </div>

                    <div class="form-group">
                        <label for="msg">Message: </label>
                        <textarea class="form-control" name="msg" id="msg" rows="5" required></textarea>
                    </div>

                    <div class="what-level">
                        <p>Which level you are enquiring about:</p>
                        <div class="form-check">
                            <input class="form-check-input" type="radio" name="chk1" id="chk1" value="beginner"
                                required>
                            <label class="form-check-label" for="chk1">Beginner Level</label>
                        </div>
                        <div class="form-check">
                            <input class="form-check-input" type="radio" name="chk1" id="chk2" value="intermediate">
                            <label class="form-check-label" for="chk2">Intermediate Level</label>
                        </div>
                        <div class="form-check">
                            <input class="form-check-input" type="radio" name="chk1" id="chk3" value="advanced">
                            <label class="form-check-label" for="chk3">Advanced Level</label>
                        </div>
                    </div>

                    <button type="submit" class="btn btn-primary">Send Message</button>
                </fieldset>
            </form>
        </div>
    </div>
</div>
{% endblock %}